<div class="page-header">
  <%= link_to accounts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_account_path(@account), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show account</h1>
</div>

<dl class="dl-horizontal">
  <dt>Shopify account url:</dt>
  <dd><%= @account.shopify_account_url %></dd>

  <dt>Shopify api key:</dt>
  <dd><%= @account.shopify_api_key %></dd>

  <dt>Shopify password:</dt>
  <dd><%= @account.shopify_password %></dd>

  <dt>Shopify shared secret:</dt>
  <dd><%= @account.shopify_shared_secret %></dd>

</dl>

<%= link_to 'Test Connection', test_connection_account_path(@account), class: 'btn' %>
